@media screen and (min-width: 800px) {
    
.wrapper {
    display:grid;
    grid-template-columns: repeat(3 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd hd"
    "sd sd sd main main main main main main"
    "ft ft ft ft ft ft ft ft ft";
    width: 800px;
    margin: auto;
}

}
.box{
    background-color: bisque;
    border: solid black 2px;
}

.header {
grid-area: hd;
}
.sidebar {
grid-area: sb;
}

.main {
grid-area: main;
}

.footer{
    grid-area: ft;
}

.overlay {
    z-index: 10;
    grid-column-start: main-start;
    grid-column-end: main-end;
    grid-row-start: hd-start;
    grid-row-end: ft-end;
    background-color: red
}

.sidebar {
    grid-area: sd;
}



