.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 700px;
    grid-template-rows: 50px repeat(3, 150px) 50px;
    gap: 10px;
    background-color: #fcfdff;
    margin: auto;
}

header {
grid-column: 1/5;
background-color: #9fa2b2;
}
div {
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    background-color: #c0ccb5;
}
.side-display {
    grid-row: 2/5;
    grid-column: 4/5;
    background-color: #a9b2a1;
}

footer {
    background-color: #505810;
    grid-column: 1/5;
    grid-row: 5/6; 
}

div:hover {
background-color: #ffeae3;
}